[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pandas = "*"
requests = "*"
ratelimit = "*"
js2py = "*"
sseclient = "*"
sktime = "*"
sklearn = "*"
matplotlib = "*"
prophet = "*"

[dev-packages]

[requires]
python_version = "3.8"
